<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flappybird">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/green_bird"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/green_bird"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlappyBird">
        <activity
            android:name="com.example.flappybird.FirstActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.flappybird.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.example.flappybird.GameOverActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.flappybird.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.flappybird.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.flappybird.GameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.flappybird.TableActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.example.flappybird.ShopActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>